trigger: 
 - none
pool:  Default

stages:
    - stage: 'tflint'
      displayName: 'tflint'
      jobs:
        - job: 
          steps:
          - task: PowerShell@2
            inputs:
              targetType: 'inline'
              script: |
                cd "$(System.DefaultWorkingDirectory)/enviroments/dev"
                tflint --init
                tflint --recursive
                # .tflint.hcl jnha hota hai us directory ko tflint scan karta hai 
                # and required version jaruri hota hai , repo default wrk directory hoti hai

          

    - stage: 'tfscan'
      displayName: 'tfscan'
      dependsOn: 'tflint'
      jobs:
        - job: 
          steps:
          - task: PowerShell@2
            inputs:
              targetType: 'inline'
              script: |
                cd "$(System.DefaultWorkingDirectory)/enviroments/dev"
                 tfsec --format json --out tfsec-result.json --soft-fail .

    - stage: 'tfinit_plan_apply'
      displayName: 'tfinit'
      dependsOn:   'tfscan'
      jobs:
          - job: 'tfinitplanapply'
            displayName: "tfinit"
            steps:
            - task: TerraformTask@5
              displayName: 'init'
              inputs:
                provider: 'azurerm'
                command: 'init'
                workingDirectory: '$(System.DefaultWorkingDirectory)/enviroments/dev'
                backendServiceArm: 'service-connection'
                backendAzureRmStorageAccountName: 'storageaccount'
                backendAzureRmContainerName: 'test121'
                backendAzureRmKey: 'terraform.tfstate'
            - task: TerraformTask@5
              inputs:
                provider: 'azurerm'
                command: 'destroy'
                workingDirectory: '$(System.DefaultWorkingDirectory)/enviroments/dev'
                commandOptions: '-auto-approve'
                environmentServiceNameAzureRM: 'service-connection'
            # - task: TerraformTask@5
            #   displayName: 'plan'
            #   inputs:
            #     provider: 'azurerm'
            #     command: 'plan'
            #     workingDirectory: '$(System.DefaultWorkingDirectory)/enviroments/dev'
            #     environmentServiceNameAzureRM: 'service-connection'
            # - task: TerraformTask@5
            #   displayName: 'apply'
            #   inputs:
            #     provider: 'azurerm'
            #     command: 'apply'
            #     workingDirectory: '$(System.DefaultWorkingDirectory)/enviroments/dev'
            #     environmentServiceNameAzureRM: 'service-connection'
            #     commandOptions: '-auto-approve'